<!DOCTYPE html> <!--Document type (문서의 타입)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello World!
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>

    <!-- {% load static %} -->
    <!-- <img src="{%static 'IU.jpg'%}" alt='iu'> -->

    <img src='../../static/IU.jpg' alt='iu'>

    <span>span 태그1</span>
    <span>span 태그2</span>

    <div>안녕하세요</div>
    <div>두 번째 영역입니다.</div>

    <a href='https://www.google.com' target='_blank'>Google Link</a>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, nemo officiis. Ea, laborum. Delectus illo porro iusto velit voluptatibus numquam nesciunt sit rem, doloremque, non harum fugit eligendi assumenda expedita.</p>

    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ul>

    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ol>

</body>
</html>



<!--
1. config의 settings 파일 - BASE_DIR, templates, static
2. Landing에서 연결 -> views.py (뭘 보여줄지 결정)
3. URL에서 뭘 눌렀을 때 hello world가 보이도록 연결
-->