<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .center { 
            text-align: center; 
        }
        .red { color: red; }
        .blue { color: blue; }
        .large { font-size: 40px; }
    </style>

    <!-- (1) link 스타일로 하기-->
    <!-- <link rel='stylesheet' href='/static/css/style.css'> -->

    <!-- (2) embedding 스타일로 하기-->
    <!-- <style>
        h1 {color: antiquewhite;}
        p {background: darkcyan;}
    </style> -->
</head>
<body>
    <!-- (3) Inline 스타일로 하기-->
    <!-- <h1 style='color: blue;'>django</h1>
    <h2>hello</h2>
    <p style='background: chartreuse;'>This is a web page.</p> -->

    <p class='center'> center </p>
    <p class='large red'> large red </p>
    <p class='large center blue'> large center red </p> <!-- class 요소는 여러 개 집어 넣을 수 있음 (중복)-->

</body>
</html>